/* header要素 */
header {
  text-align: left;
  border-bottom: 2px solid #A4DD00;
}

/* #exit ボタン */
#exit img {
  width: 25px;
  height: 25px;
  margin: 50px 10px 10px;
  float: right;
}

.content {
  text-align: left;
}

/* チャンネル選択ページのコンテンツエリア */
.box {
  box-sizing: border-box;
  border-top: 2px solid #A4DD00 ;
  display:block;
  flex-direction:colum;
  padding-top: 20px;
}

.item {
  font-size: 30px;
  color: #000000;
  margin: 20px 20px;
}

.item a {
  color: inherit;
}