/* header要素のスタイル */
header{
  /* テキストを左揃えに設定 */
  text-align: left;
  /* 下枠線を設定（太さ2px、実線、緑色） */
  border-bottom: 2px solid #A4DD00;
}

main {
  flex: 1;
  overflow-y: auto;
}

/* .messageクラスのスタイル */
.message {
  margin: 0;
}
.message-wrapper {
  margin: 20px 0px;
}
.message p {
  /* テキストを左揃えに設定 */
  text-align: left;
  margin:4px 0px 4px
}

.own-message {
 /* ログインユーザー自身のメッセージを右寄せにする */
  align-items: flex-end;
}

/* メッセージのコンテナにFlexboxを適用 */
.message {
  margin: 20px 0px 20px;
  display: flex;
  flex-direction: column;
}

#messege-name {
  font-weight: bold;
}

.message-btn {
  /* 背景色を透明に設定 */
  background-color: transparent;
  /* 枠線をなしに設定 */
  border: none;
  /* 内側の余白を0に設定 */
  padding: 0;
}

.message-btn img {
  /* 幅を32pxに設定 */
  width: 16px;
  /* 高さを32pxに設定 */
  height: 16px;
}

/* #form IDのスタイル */
#form {
  /* 親要素の幅の100%を最大の横幅に設定 */
  max-width: 100%;
}

/* footer要素のスタイル */
footer {
  /* 幅を100%に設定 */
  width: 100%;
  /* 最大の横幅を415pxに設定 */
  max-width: 415px;
  /* 内側の余白を10pxに設定 */
  padding: 10px;
  /* paddingとborderを要素の幅と高さに含めるように設定 */
  box-sizing: border-box;
  background-color: #fff;
}

/* .message-formクラスのスタイル */
.message-form {
  /* フレックスボックスとして表示 */
  display: flex;
  /* アイテムを中央揃えに設定 */
  align-items: center;
  /* アイテム間の間隔を10pxに設定 */
  gap: 10px;
}

/* .message-form内のinput要素のスタイル */
.message-form input {
  /* フレックスアイテムの伸長係数を1に設定 */
  flex-grow: 1;
  /* 内側の余白を8pxに設定 */
  padding: 8px;
}

/* #form-btn IDのスタイル */
#form-btn {
  /* 背景色を透明に設定 */
  background-color: transparent;
  /* 枠線をなしに設定 */
  border: none;
  /* 内側の余白を0に設定 */
  padding: 0;
}

/* #form-btn内のimg要素のスタイル */
#form-btn img {
  /* 幅を32pxに設定 */
  width: 32px;
  /* 高さを32pxに設定 */
  height: 32px;
}

.message-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-form form {
  display: flex;
  gap: 10px;
}

.edit-form input[type="text"] {
  flex-grow: 1;
  padding: 8px;
}

/* 編集フォームは通常非表示 */
.edit-form {
  display: none;
}

/* チェックボックスがONの時、後続の.message要素を非表示にする */
.edit-toggle-checkbox:checked ~ .message {
  display: none;
}

/* チェックボックスがONの時、後続の.edit-form要素を表示する */
.edit-toggle-checkbox:checked ~ .edit-form {
  display: block;
}

#exit img {
  width: 25px;
  height: 25px;
  margin: 50px 10px 10px;
  float: right;
}

dialog form {
  background-color: rgb(138, 133, 133);
}
