/* header要素 */
header {
  text-align: left;
  border-bottom: 2px solid #A4DD00;
}

/* main要素 */
main {
  flex: 1;
  overflow-y: auto;
}

/* footer要素 */
footer {
  width: 100%;
  max-width: 415px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #fff;
}

/* #exit ボタン */
#exit img {
  width: 25px;
  height: 25px;
  margin: 50px 10px 10px;
  float: right;
}

/* メッセージ共通 */
.message {
  margin: 20px 0px 20px;
  display: flex;
  flex-direction: column;
}

.message-wrapper {
  margin: 20px 0px;
}

.message p {
  text-align: left;
  margin: 4px 0px 4px;
}

/* 自分のメッセージ */
.own-message {
  align-items: flex-end;
}

/* メッセージ送信者名 */
#messege-name {
  font-weight: bold;
}

/* メッセージ内の操作ボタン */
.message-actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 共通ボタンスタイル */
.message-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

/* アイコンサイズ調整 */
.message-btn img {
  width: 16px;
  height: 16px;
}

/* #form 全体 */
#form {
  max-width: 100%;
}

/* 入力エリア全体 */
.message-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* 入力欄 */
.message-form input {
  flex-grow: 1;
  padding: 8px;
}

/* 送信ボタン */
#form-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

/* 送信ボタン内の画像 */
#form-btn img {
  width: 32px;
  height: 32px;
}

/* 初期状態は非表示 */
.edit-form {
  display: none;
}

/* 編集フォーム内 */
.edit-form form {
  display: flex;
  gap: 10px;
}

.edit-form input[type="text"] {
  flex-grow: 1;
  padding: 8px;
}

/* チェックボックスでメッセージと編集フォームを切替 */
.edit-toggle-checkbox:checked ~ .message {
  display: none;
}
.edit-toggle-checkbox:checked ~ .edit-form {
  display: block;
}

dialog {
  background-color: rgb(156, 150, 150);
}
