* {
  margin: 0; /* 全要素のマージンをリセット */
  padding: 0; /* 全要素のパディングをリセット */
  box-sizing: border-box; /* widthとheightの計算にpaddingとborderを含める */
}

.container{
     box-sizing: border-box;
     width: 415px ;
     margin: 0;
}
     
h1 {
     padding: 10px 20px ;
     font-size: 24px;
     color: #000000;
}


.box {
     box-sizing: border-box;
     width: 415px;
     border-top: 2px solid #A4DD00 ;
     display:block;
     flex-direction:colum;
     padding-top: 20px;
}

.item{
     font-size: 30px;
     color: #000000;
     margin: 20px 20px;
}

.create {
     box-sizing: border-box;
     width: 415px;
     border-top: 2px solid #A4DD00 ;
     padding-top: 20px;
}
