body {
  /* 外側の余白 */
  margin: 0;
  /* 内側の余白 */
  padding: 0;
}

.content {
  /* .content 要素の最大の横幅 */
  max-width: 402px; 
  /* .content 要素の最大の縦幅 */
  max-height: 874px;
  /* 外側の余白 */
  margin: 0 auto;
  /* 内側の余白 */
  padding: 32px;
  /* 背景画像の設定 */
  background-image: url(img/istockphoto-1203310959-1024x1024.jpg); 
  /* 画像を背景にフィットさせる */
  background-size: cover;
  /* 枠線 */
  border: 1px solid black;
  /* 丸角 */
  border-radius: 20px;
  /* コンテンツを中央寄りにする */
  text-align: center;
  /* コンテンツを表示する高さを画面の高さ100%で表示する */
  height: 100vh;
}

.logo-text {
  /* 外側の余白 */
  margin: 132px 20px 53px;
  /* フォントサイズ */
  font-size: 48px;
  /* 文字間のスペース */
  letter-spacing: 2px;
  /* 文字色 */
  color: #24c70e; 
}

.btn {
  /* 丸角 */
  border-radius: 20px;
  /* ボーダー色の色指定 */
  border-color: #D9D9D9;
  /* フォントサイズ */
  font-size: 16px;
  /* 内側の余白 */
  padding: 6px;
  /* 外側の余白 */
  margin: 53px 20px;
  /* ボタンの横幅の設定 */
  width: 350px;
  /* ボタンの縦幅の設定 */
  height: 50px;
}

.btn:hover {
  /* 文字を太字にする */
  font-weight: bold;
  /* ボタンサイズを大きくする */
  transform: scale(1.05);
  /* アニメーションの速度調整 */
  transition: all 0.3s ease;
}

#login-btn {
  /* 背景色 */
  background-color: #A4DD00;
  /* 文字色 */
  color: #ffffff;
}

#signup-btn {
  /* 背景色 */
  background-color: #ffffff;
  /* 文字色 */
  color: #666464;
}

@media screen and (max-width: 402px) {
  .content {
    /*親要素（bodyの100%まで）*/
    max-width: 100%;
    /* 外側の余白 */
    margin: 0 auto;
    /* 内側の余白 */
    padding: 32px 16px;
    /* widthとheightにpaddingやborderのサイズを含むようにする */
    /* 要素が画面からはみ出ないようにする */
    box-sizing: border-box;
  }
}