<!-- base.htmlの読み込み -->
{% extends "base.html" %}

<!-- CSSの適用 -->
{% block css_style %}
  {{ super() }} <!-- 継承元のCSSを保持 -->
  <link rel="stylesheet" href="{{ url_for('static', filename='channels.css') }}">
{% endblock %}

<!-- ページタイトルの反映 -->
{% block title %}Komorebi-Channels{% endblock %}

<!-- コンテンツの反映 -->
{% block body_content %}
  <div class="content">

    <header>
      <a href="{{ url_for('logout') }}" id="exit"><img src="static/img/exit.png"></a>
      <h1>チャンネル一覧</h1>
    </header>

    {% for channel in channels %}
      <div class="box">
      <div class="item">
        <a href="{{ url_for('messages', cid=channel.channel_id) }}" style="text-decoration: none;">  
          {{ channel['channel_name'] }}
        </a>
      </div>
    </div>
    {% endfor %}  

  </div> 
{% endblock %}