<!DOCTYPE html>
<html lang="ja"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <title>チャンネル編集</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="チャンネル選択">
    
  <link rel="stylesheet" href="/static/style_2.css"></head>
  <body>
    <div class="container">
      <div class="nav">
        <h1>チャンネル一覧</h1>
      </div>
      <div class="box">
        <div class="item">
            <p>トピックAが入ります</p>
        </div>
        <div class="item">
            <p>トピックBが入ります</p>
        </div>
        <div class="item">
            <p>トピックCが入ります</p>
        </div>
        <div class="item">
            <p>トピックDが入ります</p>
        </div>
        <div class="item">
            <p>トピックEが入ります</p>
        </div>
        <div class="item">
            <p>トピックFが入ります</p>
        </div>
      </div>
    </div>  
