<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>edit_channels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="チャンネル編集ページ">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_2.css') }}">
  </head>
   <body>
    <div class="container">
      <div class="nav">
        <h1>チャンネル編集</h1>
      </div>
      <div class="edit_channels">
        <div class="channel">
            <p class="channel_name">チャンネル名が入ります。</p>
            <button class="del_btn">削除</button>
        </div>
        <div class="channel">
            <p class="channel_name">チャンネル名が入ります。</p>
            <button class="del_btn">削除</button>
        </div>
        <div class="channel">
            <p class="channel_name">チャンネル名が入ります。</p>
            <button class="del_btn">削除</button>
        </div>
        <div class="channel">
            <p class="channel_name">チャンネル名が入ります。</p>
            <button class="del_btn">削除</button>
        </div>
        <div class="channel">
            <p class="channel_name">チャンネル名が入ります。</p>
            <button class="del_btn">削除</button>
        </div>
      </div>
      <div class="add-channel">
        <button class="add_btn" type="submit" >
            <ion-icon name="add-outline" ></ion-icon> 
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
        </button>
      </div>
    </div>  
  </body>
