<!DOCTYPE html>
<html lang="ja"> <!-- 使用する言語は「日本語」-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- スマホ画面に対応させる-->
    <link rel="stylesheet" href="{{ url_for('static', filename='top_page.css') }}"> <!-- CSSの適用 -->
    <title>こもれび-Top</title>
</head>

<body>

<div class="content">
    <section>
            <h1 class="logo-text">こもれび</h1>
    </section>

    <section>
        <a href="{{ url_for('login_view') }}">
            <button class="btn" id="login-btn">ログイン</button>
        </a>
    </section>

    <section>
        <a href="{{ url_for('signup_view') }}">
            <button class="btn" id="signup-btn">新規登録</button>
        </a>
    </section>
</div>

</body>
</html>
