<!DOCTYPE html>
<html lang="ja"> <!-- 使用する言語は「日本語」-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- スマホ画面に対応させる-->
    <link rel="stylesheet" href="{{ url_for('static', filename='login_page.css') }}"> <!-- CSSの適用 -->
    <title>こもれび-Login</title>
</head>

<body>

<div class="content">
    <section>
        <h1 class="logo-text">こもれび</h1>
    </section>

    <section>
        <label class="login-form-text">
            メールアドレス<br>
            <input type="email">
            <p>※50文字以内に設定してください</p>
        </label>

        <label class="login-form-text">
            パスワード<br>
            <input type="password">
            <p>※120文字以内に設定してください</p>
        </label>
    </section>

    <section>
        <button class="btn" id="login-btn">ログイン</button>
    </section>

</div>

</body>
</html>
