<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="チャンネル編集ページ">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_3.css') }}">
    <title>Komorebi-Edit-Messages</title>
  </head>
   <body>
    <div class="container">
      <div class="nav">
        <a href="{{ url_for('logout') }}" id="exit">
          <img src="{{ url_for('static', filename='img/exit.png') }}" alt="ログアウト">
        </a>
        <h1>チャンネル編集</h1>
      </div>
      <div class="edit_channels">
        {% for channel in channels %}
          <div class="channel">
            <div class="channel-view" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
              <span class="channel_name">{{ channel['channel_name'] }}</span>
              <button type="button" class="channel_btn" id="edit_btn">更新</button>
            </div>
            <form method="POST" action="{{ url_for('edit_channel', cid=channel.channel_id) }}" class="edit-form" style="display: none;">
              <input type="text" name="new_channel_name" value="{{ channel['channel_name'] }}" required>
              <button type="submit" class="channel_btn" id="edit_btn">更新</button>
            </form>
            <form
            method="POST"
            action="/admin/channels/{{ channel.channel_id }}"
            class="delete-form"
            >
              <button class="channel_btn">削除</button>
            </form>
          </div>
        {% endfor %}
      </div>
      <div class="add-channel">
        <button class="add_btn" type="submit" >
          <a href="{{ url_for('create_channel_view') }}">
            <ion-icon name="add-outline" ></ion-icon>
            <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script> 
          </a>
        </button>
      </div>
    </div>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        const channels = document.querySelectorAll('.channel');
        channels.forEach(channel => {
          const view = channel.querySelector('.channel-view');
          const editForm = channel.querySelector('.edit-form');
          const editButton = view ? view.querySelector('#edit_btn') : null;

          if (editButton) {
            editButton.addEventListener('click', () => {
              if (view) view.style.display = 'none';
              if (editForm) editForm.style.display = 'flex';
            });
          }
        });
      });
    </script>
  </body>
</html>